.flex-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;

}

.items-card {
  margin: 20px;
  width: 550px;
}

.flex-todos {
  display: flex;
  margin: 30px;
  font-size: 25px;
}

